*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background: url(/img/8a23d7b6ff0bb3dd071745cdb0721cec.jpg) center/ cover no-repeat ;
    height: 100vh;
}

/*header_cadastro*/

header{
    height: 50px;
    padding: 10px;
}

.nav{
    display:  flex;
    justify-content: space-between;
}

.nav .img{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 20px;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav li a{
    text-decoration: none;
    padding: 8px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

/*header_cadastro fim*/


/*section_one cadastro*/

.section_one{
    height: 80vh;
    width: 100%;
}

.section_one .conteiner{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    
}

.conteiner .form{
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    background-color: rgba(74, 56, 33, 0.287);
}

.login{
    width: 49%;
    display: block;
}

.login h2{
    width: 80%;
    margin: 0 auto;
    color: wheat;
}

.login p{
    width: 80%;
    margin: 0 auto;
    color: wheat;
}

.login label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:14px;
    margin: 8px auto;
    width: 80%;
    display: block;
    color: wheat;
}

.login input{
    display: block;
    margin: 8px auto;
    outline: none;
    height: 25px;
    width: 79%;
    border-radius: 5px;
    padding: 5px;
}

.botao{
    text-align: center;
    margin: 20px 0;
}

button{
    display: inline-block;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: beige;
}

.form .text{
    width: 49%;
    display: flex;
}

.text h2{
    text-align: center;
    color: wheat;
}

.text p{
    width: 90%;
    margin: 10px auto;
    color:wheat;
}
.text .line{
    height: 400px;
    width: 8px;
    background-color: rgba(245, 222, 179, 0.782);
    right: 100px;
    margin: 50px 0px;
}

/*section_one cadastro fim*/

/*foother*/

footer{
    padding: 20px;
    background-color: rgb(61, 33, 3);
}

.contato{
    display: flex;
    color: whitesmoke;
}
.contato_footer{
    padding: 0 10px;
}

.text_footer{
    padding: 0 10px;
}