*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


header{
    z-index: 2;
    position: relative;
    height: 50px;
    background: linear-gradient( black ,   rgb(103, 4, 4)  );
}

.nav-bar.ativo{
    right: 0px;
}

.nav-bar {
    transition: 1s;
    z-index: 1;
    display: block;
    width:15% ;
    position: fixed;
    right: -250px;
    top: 0px;
    height: 100vh;
    text-align: center;
    background: url(/img/3bdd30ded77ef28c1c060f2156f9ac73.jpg);
}

.bi-justify{
    color: white;   
    cursor: pointer;
    position: absolute;
    right: 5%;
    margin: 15px  ;
}


.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 0;

}

.overlay.ativo{
    opacity: 1;
    pointer-events: all;
    transition: 1s;
    cursor: pointer;
}

.close{
    margin-top: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    align-self: flex-end;
    cursor: pointer;
}

.nav-bar ul{
    list-style: none;
    padding-bottom: 10px;
}

.nav-bar li {
    color: white;  
    margin-top: 30px;
}

.nav-bar li a{
    color: white;
    text-decoration: none;
}

/*header*/

.section_one{
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
}


.background_blur{
    height:90vh ;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.background_blur::before{
    position: absolute;
    background: url(/img/59caccaa18b9d643722f69beceeb80fb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    inset: 0;
    content: "";
    filter: blur(4px);
    transform: scale(1.1);
    z-index: -1;
}

.background{
    position: relative;
    height: 100vh;
    width: 100%;
}

.background img{ 
    margin-left: 15%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: clamp(60vw, 80vw, 90vw); 
    z-index: 1;
    overflow: hidden;
}


.background h1{
    position: absolute;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header{
        height: 50px;
    }

    .nav-bar {
    transition: 1s;
    z-index: 1;
    display: block;
    width:20% ;
    position: fixed;
    right: -250px;
    top: 0px;
    height: 100vh;
    text-align: center;
    background: url(/img/3bdd30ded77ef28c1c060f2156f9ac73.jpg);
}


.background{
    max-height: 100vh;
}

.background img{ 
    margin: 0 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 90%; 
    z-index: 1;
    overflow: hidden;
}

}