*{
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    box-sizing: border-box;
    
}

.background{
    background: url(/img/6c8495455b0b4db29a213c9a5241c71f.jpg) center/ cover no-repeat ;
    height: 100vh;
}

/*HEARDER*/
header{
    padding: 15px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

.img{
    width: 30px;
    height: 30px;
    background-color: rgba(227, 170, 34, 0.868);
    border-radius: 20px;
    margin-top: 10px;
}

.nav{
    display: inline-block;
}


.nav ul{
    display: flex;
    list-style: none;
    right: 20px;
    position: absolute;
}

li a{
    padding: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-bar {
    display: none;
}
/*header*/

/*section_one*/
.section_one{
    width: 100%;
    height: 70vh;
}

.section_one .conteiner{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 95%;
    position: relative;
}

.conteiner .form{
    padding: 20px 0;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(1, 2, 45, 0.594);
    color:white;
    display: flex;
    position: absolute;
    
}

.form h3 {
    margin-bottom: 10px;
}
.form .login p{
    width: 50%;
    margin-left: 0px;
    font-size: 16px;
}
.form .login{
    margin-top: 28px;
    padding: 0 10px;
    width: 100%;
    height: 80%;

}


.form .login label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    width: 50%;
    display: inline-block;
    margin-top: 10px;
}

.form .login input{
    border-radius: 5px;
    padding: 5px;
    width: 49%;
    margin: 5px 0;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.login a{
    color: whitesmoke;
    text-decoration: none;
}

button{
    height: 35px;
    width: 120px;
    background-color: rgba(80, 80, 189, 0.758);
    color: white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-weight: bolder;
    pointer-events: all;
    margin: 20px 0;
    display: block;
}

.form .text{
    top: 10%;
    left: 50%;
    color: white;
    position: absolute;
    width: 40%;
    text-align: justify; 
    height: auto;
}

.text h3{
    font-size: 25px;
    margin-left:  10px;
}

.text p{
    width: 90%;
    padding: 0 10px;
}

.text .line{
    height: 300px;
    width: 2px;
    background-color: white;
    position: absolute;
    top: -15px;

}


/*section_one*/

/*footer*/
footer{
    padding: 15px;
    background-color: rgba(6, 15, 32, 0.911);
    display: flex;
}

.contato{
    display: flex;
    color: white;
}

.icones{
    width: 20px;
}

.text_footer{
    width: 70%;
    margin-left: 50px;
    text-align: justify;
    color: white;
}

.contato_footer{
    padding: 0px 10px;
    margin: 0px 0px;
    color: white;
}

@media (max-width: 768px) {

    header{
        margin: 0 10px;
        padding-top: 10px;
        height: 80px;
    }

    .background{
        background: url(/img/6c8495455b0b4db29a213c9a5241c71f.jpg) center/ cover no-repeat ;
        height: 130vh;
    }

    .section_one{
        margin: 50px auto;
        height: 60%;
        width: 100%;
    }

    .conteiner{
        flex-direction: column;
    }

    .form{
        width: 100%;
        display: block;
        flex-direction: column;
        
    }

    .login {
        width: 100%;
        display: inline-block;
    }

    .form .login p{
        width: 100%;
    }

    .form .login input{
        width: 90%;
    }

    .form .login label{
        width: 90%;
    }

    .form .text{
        position: static;
        margin-top: 0px;
        text-align: center;
        width: 100%;
    }

    .form .text h3{
        font-size: 22px;
    }

    .form .text p{
        font-size: 15px;
        margin: 10px 0px;
        text-align: justify;
    }

    .text .line{
        display: none;
    }

    button{
        height: 35px;
        width: 120px;
        background-color: rgba(80, 80, 189, 0.758);
        color: white;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
        font-weight: bolder;
        margin: 10px 0;
        display: block;
    }

    /* header */

    .nav{
        display: none;
    }

    .nav-bar.ativo{
        right: 0px;
    }

    .nav-bar {
        transition: 1s;
        z-index: 1;
        display: block;
        width: 30%;
        position: fixed;
        right: -250px;
        top: 0px;
        height: 100vh;
        text-align: center;
        background: url(/img/3bdd30ded77ef28c1c060f2156f9ac73.jpg);
    }

    .bi-justify{
        color: white;
        margin-top: 20px;
        cursor: pointer;
    }


    .overlay{
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 0;

    }

    .overlay.ativo{
        opacity: 1;
        pointer-events: all;
        transition: 1s;
        cursor: pointer;
        
    }

    .close{
        margin-top: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 22px;
        align-self: flex-end;
        cursor: pointer;
    }

    .nav-bar ul{
        list-style: none;
        padding-bottom: 10px;
    }

    .nav-bar li {
        margin-top: 30px;
    }

    /*footer*/

    .text_footer{
        width: 90%;
        margin-left: 10px;
        text-align: justify;
    }
}

@media (max-width: 420px){

        .background{
        background: url(/img/6c8495455b0b4db29a213c9a5241c71f.jpg) center/ cover no-repeat ;
        min-height: 120vh;
    }

    /*footer*/
    footer{
        background-color: rgba(6, 15, 32, 0.911);
        display: grid;
        padding: 10px;
    }

    .text_footer{
        order: 1;
        width: 90%;
    }

    .contato{
        margin:  10px;
        order: 2;
        width: 90%;
    }

}